@media(max-width: 575px){
	.menu{
		position: static;
	}
	.menu a{
		width: 100%;
		padding: 20px 0;
	}
	.hader{
		padding: 100px;
		margin-top: 0;
		background-position: center center;
		background-size: cover;
		min-width: 300px;
	}
	#company img{
		float: none;
		/*text-align: center;*/
		margin: 0 auto;
		width: 100%;
	}
	.tariff {
		width: 90%;
		padding: 20px 0;
		/*text-align: center;*/
	}
	.foto {
		display: block;
		width: 80%;
	}
	.konun  {
		background-position: 8%;
	}
	.telephone{
		background-position: 8%;
	}
	.emeil{
		background-position: 8%;
	}
}