body {
    margin: 0;
}

.menu {
    text-align: center;
    position: fixed;
	top: 0;
	width: 100%;
	opacity: 0.8;
	background-color: white;
    /*display: inline-block;*/
}


.menu a {
    width: 100px;
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 15px 20px;
    font-weight: lighter;

}

.menu a:hover {
    background-color: #E9967A;
}

.header {
    text-align: center;
    padding: 100px 0;
    background-image: url(img/Batterfly.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 58px;
    background-color: black;
    /*background-attachment: fixed;*/
}

.header a {
    text-decoration: none;
    background-color: #BDB76B;
    color: white;
    padding: 12px 24px;
    border-radius: 10px;
}

.header a:hover {
    background-color: #E9967A;
}

.header p {
    margin: 45px 0;
    font-size: 30px;
}

#company img {
    width: 300px;
    float: left;
    margin: 30px;
    margin-top: 0px;
    border-radius: 3px;
}

#company {
    /*background-color: */
    width: 100%;
    padding: 40px 0;
    margin: 0 auto;
    text-align: justify;
    max-width: 1200px;
}

#company h2 {
    text-align: center;
}

#company p {
    margin-right: 20px;
    font-size: 21px;
    font-family: cursive;
    margin-top: 75px;
}

#company a {
    text-decoration: none;
    color: #BDB76B;
}

#team {
    text-align: center;
    /*margin-top: 20px;*/
}

/*.team h2{
	text-align: center;
}*/
.foto {
    text-align: center;
    display: inline-block;
    width: 15%;
    margin: 20px 20px;
    border: 2px solid #E9967A;
    padding: 15px;
    box-shadow: 0 2px 5px gray;
}

.foto img {
    width: 100%;
}

.foto a {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    color: black;
    background-color: #BDB76B;
    padding: 14px 0;
    text-align: center;
    border-radius: 10px;
    color: white;
}

.foto a:hover {
    background-color: #E9967A;
}

.foto h3 {
    font-weight: 400;
}

.tariff li {
    list-style-type: none;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #dddddd;
    padding: 16px 0;
}

.tariff .tariff-name {
    color: white;
    background-color: black;
    font-size: 24px;
    padding: 32px 0;
}

.tariff .tariff-pro {
    background-color: #BDB76B;
    padding: 48px 0;
}

.tariff {
    display: inline-block;
    width: 30%;
    vertical-align: middle;
    margin: 10px;
    padding: 0;
    background-color: white;
    min-width: 150px;
}

.tariff li:last-child {
    background-color: #f1f1f1;
    padding: 24px 0;
}

.tariff a {
    background-color: #BDB76B;
    padding: 12px 24px;
    text-decoration: none;
    color: white;
    border-radius: 10px;
}

.tariff a:hover {
    background-color: #E9967A;
}


#prices {
    text-align: center;
    background-color: #FFEFD5;
    padding: 50px 0;

}

.number {
    font-weight: bold;
}


#price {
    font-size: 24px;
    font-weight: bold;
}


#contact {

    text-align: center;
    padding: 40px 0;
    line-height: 1.5em;
    background-color: #f1f1f1;
    /*margin-top: 0 auto;*/

}

.konun {
    /*	display: inline-block;
*/
    background-image: url(img/address.png);
    background-repeat: no-repeat;
    background-position: 30%;


}

.telephone {
    background-image: url(img/phone.png);
    background-repeat: no-repeat;
    background-position: 30%;

}

.emeil {
    background-image: url(img/mail.png);
    background-repeat: no-repeat;
    background-position: 30%;
}
.footer{
	width: 100%;
	color: white;
	background-color: black;
}